.InformationCinema, .InformationFilm, .Options, .sessions{
	margin-top: 2em;
	margin-left: 10%;
	margin-right: 10%;
	padding: 2em;
	padding-bottom: 2em;
	background-color: lightgrey;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 0 30px lightyellow;
}
.InformationCinema select, .sessions select{
	font-size: 20px;
	width:50%;
	margin-bottom: 1em;
	border-radius: 6px;
	outline:0;
	background-color:lightgrey;
}
select:focus{
	background-color: rgb(238, 238, 153);}
.InformationCinema input, .InformationFilm input, .sessions input{
	font-size: 20px;
	width:50%;
}
.button{
	margin-top:10px;
	width:60px;
}
textarea{resize: none;
	width:50%;
	border-radius: 6px;
	outline:0;
	background-color:lightgrey;
}
textarea:focus{
	background-color: rgb(238, 238, 153);
}

.Options, .sessions{
	font-family: 'Prosto One', cursive;
	font-size: 20px;
}
.Options div{
display: inline-block;
margin: auto;
}
.optionalPrice input{
	width: 50px;
	border-radius: 6px;
	outline:0;
	background-color:lightgrey;
}
input:focus{
	background-color: rgb(238, 238, 153);
	}
.optionalPrice div{
	display: inline-block;
}
.TicketPrice input{
	width: 40px;
}
.admin{
	position: absolute;
	top: 25px;
	right: 25px;
	font-size: 22px;
	font-family: 'Prosto One', cursive;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}