.LoginJoin{
	margin: 1.5em;
	display: flex;
	border-radius: 20px;
	justify-content: center;
}
.enter, .register{
	flex: 0 0 40%;
	margin: 2px;
	order: 1;
	padding: 2em;
	padding-bottom: 2em;
	background-color: lightgrey;
	border-radius: 20px;
	text-align: center;
	box-shadow: 0 0 30px lightyellow;
}

.button{
	font-family: 'Prosto One', cursive;
	color: black;
	text-align: center;
	background-color: rgb(233, 182, 105);
	height: 30px;
	font-size: 14px;
	border-radius: 5px;
	border-color: #56756c;
	border-width: 2px;
	cursor: pointer;
	outline: 0;

}
input{
	margin-bottom: 1em;
	font-size: 20px;
	transition-duration: 2s;
	outline: 0;
	border-radius: 6px;
	background-color: lightgrey;
}
input:focus{
	background-color: rgb(238, 238, 153);
	}