@media   (max-width: 767px) {
	.InformationCinema select, .sessions select{
		font-size: 14px;
		width:70%
	}
	.InformationCinema input, .InformationFilm input, .sessions input{
		font-size: 14px;
		width:70%;
	}
	.Options, .sessions{
		font-family: 'Prosto One', cursive;
		font-size: 14px;
	}
	.TicketPrice input{
		width: 20px;
	}
	.optionalPrice input{
		width: 30px;
	}
	.optionalPrice div{
		display: block;
	}
	textarea{resize: none;
		width:70%;
	}
}