@media   (max-width: 767px) {
	.selectOptions {
    margin-left: 3%;
}
.selectOptions h4 {
	font-size: 18px;
	text-shadow: 0 0 10px lightyellow;
	letter-spacing: 0.1em;
}
select {
	font-size: 12px;
}
.optionChoice {
	font-size: 14px;
	border-radius: 10px;
	margin-bottom: 1em;
}
.sessionSelection {
	margin-top: 1.5em;
	display: flex;
	flex-direction: column;
	margin-left: 1em;
	margin-right: 1em;
}
.sessionSelection img {
width:220px;
}
.mainButton button{
	font-size: 12px;

	width: 60px; height: 50px;
}

h5{
	font-size: 16px;
	font-family: cursive;
}
}

	@media (min-width: 768px) and (max-width: 1200px){

		.selectOptions {
			margin-left: 10%;
	}

} 
@media (min-width: 1200px){
	img{
		width: 80%;
	}
}