@media   (max-width: 767px) {
	.LoginJoin {
		width: 70%;
		display: flex;
		margin: auto;
		margin-top:1em;
	flex-direction: column;
	transition-duration: 2s;
	}
	input{
		font-size: 10px;
		transition-duration: 2s;
	}
	
.button{
	font-size: 10px;
}

}

	@media (min-width: 768px) and (max-width: 1200px){

		.LoginJoin {
			width: 70%;
			display: flex;
			margin-right:auto;
			margin-left:auto;
			margin-top:2em;
		transition-duration: 2s;
		}
} 